<% include partials/header %>

<h1>Log in</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="user name" id="">
    <input type="password" name="password" placeholder="password" id="">
    <input type="submit" value="Log in">
</form>
<% include partials/footer %>